<?xml version="1.0" encoding="UTF-8"?>
<!--Open Liberty documentation does not use schema in examples.-->
<server description="Jakarta EE example server">
    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
    </featureManager>
    <!-- Tag to change the default http port if it's taken on the host by some other process -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8080"
                  httpsPort="9445" />
</server>
